USE [master]
GO
/****** Object:  Database [aviaDB]    Script Date: 17.12.2020 14:01:13 ******/
CREATE DATABASE [aviaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aviaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\aviaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'aviaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\aviaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aviaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aviaDB]
GO
/****** Object:  Table [dbo].[AviaPassenger]    Script Date: 17.12.2020 14:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AviaPassenger](
	[IDPassport] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Telephone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AviaPassenger] PRIMARY KEY CLUSTERED 
(
	[IDPassport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commander]    Script Date: 17.12.2020 14:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commander](
	[IDnumber] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Flying_hours] [int] NOT NULL,
	[IDBort] [int] NOT NULL,
 CONSTRAINT [PK_Commander] PRIMARY KEY CLUSTERED 
(
	[IDnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 17.12.2020 14:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[IDFlight] [int] NOT NULL,
	[Departure_date] [date] NOT NULL,
	[Departure_time] [time](7) NOT NULL,
	[Readiness] [bit] NOT NULL,
	[IDPassport] [int] NOT NULL,
 CONSTRAINT [PK_Flight] PRIMARY KEY CLUSTERED 
(
	[IDFlight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plane]    Script Date: 17.12.2020 14:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plane](
	[IDBort] [int] NOT NULL,
	[Model] [nchar](10) NOT NULL,
	[Lifetime] [tinyint] NOT NULL,
	[Readiness] [bit] NOT NULL,
	[IDFlight] [int] NOT NULL,
 CONSTRAINT [PK_Plane] PRIMARY KEY CLUSTERED 
(
	[IDBort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route]    Script Date: 17.12.2020 14:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[IDRoute] [int] NOT NULL,
	[Departure_airport] [nvarchar](50) NOT NULL,
	[Destination_airport] [nvarchar](50) NOT NULL,
	[Ticket_price] [decimal](18, 3) NOT NULL,
	[Flight_duration] [float] NOT NULL,
	[IDFlight] [int] NOT NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[IDRoute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commander]  WITH CHECK ADD  CONSTRAINT [FK_Commander_Plane] FOREIGN KEY([IDBort])
REFERENCES [dbo].[Plane] ([IDBort])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Commander] CHECK CONSTRAINT [FK_Commander_Plane]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK_Flight_AviaPassenger] FOREIGN KEY([IDPassport])
REFERENCES [dbo].[AviaPassenger] ([IDPassport])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK_Flight_AviaPassenger]
GO
ALTER TABLE [dbo].[Plane]  WITH CHECK ADD  CONSTRAINT [FK_Plane_Flight] FOREIGN KEY([IDFlight])
REFERENCES [dbo].[Flight] ([IDFlight])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Plane] CHECK CONSTRAINT [FK_Plane_Flight]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_Flight] FOREIGN KEY([IDFlight])
REFERENCES [dbo].[Flight] ([IDFlight])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_Flight]
GO
USE [master]
GO
